#toca listas (12(?))

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app"></div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    text: "Inicia sesion",
                    open: false,
                    username: " ",
                    telefono: " ",
                    mail: " "
                    posts: [
                        {
                            id: '45',
                            title: 'Títlo 1',
                            desc: 'Lorem ipsum, dolor sit amet... 1'
                        },
                        {
                            id: '46',
                            title: 'Títlo 2',
                            desc: 'Lorem ipsum, dolor sit amet... 2'
                        },
                        {
                            id: '47',
                            title: 'Títlo 3',
                            desc: 'Lorem ipsum, dolor sit amet... 3'
                        },
                    ],
                };
            },
            watch: {
                open(value) {
                    if(value) {
                        this.text = "Cierra sesion";
                        this.styles.backgroundColor="#b5e7a0";
                    }
                    else {
                        this.text = "Inicia sesion";
                        this.styles.backgroundColor="#eca1a6";
                        this.username = " ";
                        this.telefono = " ";
                        this.mail = " ";
                    }
                }
            },
            methods: {
                deletePostForIndex(index) {
                    if (index >= 0 && index < this.posts.length) {
                        this.posts.splice(index, 1);
                    } else {
                        console.log('No existe el índice');
                    }
                },
                deletePostForId(id) {
                    const findIndex = this.posts.findIndex((post) => post.id === id);
                    if (findIndex >= 0 && findIndex < this.posts.length) {
                        this.posts.splice(findIndex, 1);
                    } else {
                        console.log('No existe el índice');
                    }
                },
            },
            computed: {
                label() {
                    return this.open ? "Salir" : "Acceder";
                },
                styles() {
                    return this.open ? ['open'] : ['closed'];
                }
            },
            template: `
                <div class="container" :class="styles">
                    <h2>{{ text }}</h2>
                    <div v-if="open">
                        <p>Hola, {{ username }}</p>
                        <p>Tu numero de teléfono és: {{ telefono }}</p>
                        <p>El correo asociado es {{ mail }}</p>
                    </div>
                    <div v-else>
                        <label>Username</label>
                        <input type="text" v-model="username">
                        <label>Teléfono</label>
                        <input type="tel" v-model="telefono">
                        <label>Email</label>
                        <input type="email" v-model="mail">
                    </div>
                    <button @click="open = !open">
                        <div v-if="!open">Acceder</div>
                        <div v-else>Salir</div>
                    </button>
                </div>
            `
        }).mount("#app");
    </script>
    <style>
        html, body {
            height: 100vh;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        #app, .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        button {
            margin-top: 24px;
            border: none;
            background-color: white;
            padding: 8px 24px;
            border-radius: 12px;
        }
        .closed {
            background-color: #eca1a6;
        }
        .open {
            background-color: #b5e7a0;
        }
    </style>
</body>
</html>